extends layout

block content
	h1 Bem vindo a API de noticias do IF Goiano
	div(ng-app="noticiasApp")
		div(class="noticias" ng-controller="NoticiasController")
			h1 {{noticia.institucao}}
			div(ng-repeat="noticia in noticias.noticias")
				p(class="titulo blink")  {{noticia.titulo}}
				p(class="texto")         {{noticia.texto}}
					p(class="data")      {{noticia.data | date:"dd/MM/yyyy 'em' h:mma"}}
					p(class="data")      {{noticia.instituicao }}
			