body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.testo{
	text-align: justify;
}

.galeria{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
 .foto {
      padding: 10px;
	  float: left;
 }